# Editor
/.zfproject.xml
/.buildpath
/.cache
/.metadata
/.project
/.settings/
/nbproject/
/.idea/
/.csscomb.json
/.phpstorm.meta.php

# Local dev files
/*.sql
/*.tgz
/*.gz
/*.zip

# OS files
__MACOSX/
[Tt]humbs.db
*.DS_Store

# Composer
/auth.json
/vendor/
